@import "../../variables";

.ImageLoadingSkeleton {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-color: $gray;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: defaultImageLoad 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-iteration-count: 100;
  }

  @keyframes defaultImageLoad {
    from {
      left: -150px;
    }
    to {
      left: 100%;
    }
  }
}